<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Psiaki</title>
    <style>  
        body  
        {  
        background-image:url("https://m.salon24.pl/dog-puppys-af02c507f66902317c439,860,0,0,0.jpg");
        }  
        </style>  
</head>
<body>
    <h1><center> Moje psiaki </center> </h1>
    
    {% for dog in dogs%}
    <li>    
        {{ dog }}
    </li>
    {% endfor %}
</body>
</html>